<div>
    <h1>{{ 'ACCOUNT_RECOVERY' | translate }}</h1>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field>
            <mat-label>{{ "EMAIL" | translate }}</mat-label>
            <input matInput required type="text" formControlName="email" trim="blur" name="email"/>
            <mat-error *ngIf="emailError">{{ emailError }}</mat-error>
        </mat-form-field>
        <button class="form-button"
                mat-flat-button
                type="submit"
                [disabled]="loading()"
        >
            <mat-icon>
                @if (loading()) {
                    <app-button-progress-spinner/>
                } @else {
                    send
                }
            </mat-icon>
            {{ 'SEND' | translate }}
        </button>
    </form>
</div>