<app-simple-toolbar title="USERS">
    <app-users-actions/>
</app-simple-toolbar>
<app-progress-bar [loading]="loading"/>
<app-container>
    <app-search-input [search]="search"/>
    <div style="overflow: auto">
        <table
                mat-table
                matSort
                [dataSource]="users"
                [matSortActive]="sortActive"
                [matSortDirection]="sortDirection"
                (matSortChange)="onSortChange()"
        >

            <ng-container matColumnDef="select" sticky>
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox [disabled]="loading" (change)="$event ? toggleAllRows() : null"
                                  [checked]="headerChecked"
                                  [indeterminate]="headerIndeterminate"
                                  [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox [disabled]="loading || isCurrentUser(row)" (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(row) : null"
                                  [checked]="selection.isSelected(row)"
                                  [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="locked">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'LOCKED' | translate }}</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button
                            [disabled]="loading || isCurrentUser(element)"
                            [matTooltip]="(element.locked ? 'UNLOCK' : 'LOCK') | translate"
                            matTooltipPosition="right"
                            (click)="onLockedClick(element)"
                    >
                        <mat-icon [ngStyle]="{color: getLockedColor(element)}">
                            {{ element.locked ? "lock" : "lock_open" }}
                        </mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'ID' | translate }}</th>
                <td mat-cell *matCellDef="let element"> {{ element.id }}</td>
            </ng-container>

            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'FIRST_NAME' | translate }}</th>
                <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
            </ng-container>

            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'LAST_NAME' | translate }}</th>
                <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'EMAIL' | translate }}</th>
                <td mat-cell *matCellDef="let element" style="cursor: pointer">{{ element.email }}</td>
            </ng-container>

            <ng-container matColumnDef="enabled">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'ENABLED' | translate }}</th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon
                            [ngStyle]="{color: getEnabledColor(element.enabled)}">
                        {{ element.enabled ? "check_circle" : "pending" }}
                    </mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef>{{ 'PHONE_NUMBER' | translate }}</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.phoneNumber ? "+998" + element.phoneNumber : "" }}
                </td>
            </ng-container>

            <ng-container matColumnDef="birthDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'BIRTH_DATE' | translate }}</th>
                <td mat-cell *matCellDef="let element"> {{ element.birthDate | date: 'dd.MM.yyyy' }}</td>
            </ng-container>

            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef>{{ 'ROLE' | translate }}</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button
                            [matMenuTriggerFor]="role"
                            [disabled]="loading || isCurrentUser(element)"
                    >
                        <mat-icon>{{ getRoleIcon(element.role) }}</mat-icon>
                        {{ element.role | translate }}
                    </button>
                    <mat-menu #role=matMenu>
                        <button mat-menu-item
                                *ngFor="let role of roles"
                                [disabled]="role === element.role"
                                (click)="onRoleClick(element, role)"
                        >
                            <mat-icon>{{ getRoleIcon(role) }}</mat-icon>
                            <span>{{ role | translate }}</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CREATED_AT' | translate }}</th>
                <td mat-cell *matCellDef="let element"> {{ element.createdAt | date: 'dd.MM.yyyy hh:mm' }}</td>
            </ng-container>

            <ng-container matColumnDef="updatedAt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'UPDATED_AT' | translate }}</th>
                <td mat-cell *matCellDef="let element"> {{ element.updatedAt | date: 'dd.MM.yyyy hh:mm' }}</td>
            </ng-container>

            <ng-container matColumnDef="createdBy">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CREATED_BY' | translate }}</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.createdBy ? element.createdBy.firstName + " " + element.createdBy.lastName : "" }}
                </td>
            </ng-container>

            <ng-container matColumnDef="updatedBy">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'UPDATED_BY' | translate }}</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.updatedBy ? element.updatedBy.firstName + " " + element.updatedBy.lastName : "" }}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <mat-paginator *ngIf="users.length > 0"
                   [disabled]="loading"
                   [pageSizeOptions]="[10, 25, 50]"
                   showFirstLastButtons
                   [length]="totalElements"
                   [pageIndex]="page"
                   [pageSize]="size"
                   (page)="onPageChange($event)"
    >
    </mat-paginator>

    <h3 *ngIf="users.length === 0 && !loading"
        class="mat-headline-3">{{ 'NO_DATA' | translate }}</h3>
</app-container>