@use '@angular/material' as mat;

mat-sidenav-container {
    min-height: 100%;
}

mat-sidenav {
    position: fixed;
    max-width: 100%;
    height: 100vh;
}

mat-sidenav-content {
    min-height: 100vh;
}

.nav-list {
    margin: 0 0.5rem;
}

.nested-list {
    margin-left: 2rem;
    @include mat.list-density((
            mat.define-theme((
                    density: (
                            scale: -3
                    )
            ))
    ))
}

.dense-toolbar {
    padding: 0;
    @include mat.toolbar-density((
            mat.define-theme((
                    density: (
                            scale: -5
                    )
            ))
    ))
}