<mat-sidenav-container>
    <mat-sidenav #sidenav [autoFocus]="false">
        <mat-toolbar>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <a mat-button routerLink="/">
                <mat-icon>home</mat-icon>
                {{ 'HOME' | translate }}
            </a>
        </mat-toolbar>
        <mat-nav-list class="nav-list">
            @for (nav of navList; track nav.title) {
                <a mat-list-item
                    [routerLink]="nav.path"
                    [activated]="getActivated(nav.path)"
                    (click)="sidenav.toggle()"
                >
                    <mat-icon matListItemIcon>{{nav.icon}}</mat-icon>
                    <span matListItemTitle>{{ nav.title | translate }}</span>
                </a>
                <mat-nav-list class="nested-list" *ngIf="nav.children.length">
                    <a mat-list-item
                        *ngFor="let ch of nav.children"
                        [routerLink]="ch.path"
                        [activated]="getActivated(ch.path)"
                        (click)="sidenav.toggle()"
                    >
                        <mat-icon matListItemIcon style="transform: scale(0.8);">{{ch.icon}}</mat-icon>
                        <span matListItemTitle style="font: var(--mat-sys-body-small)">
                            {{ ch.title | translate }}
                        </span>
                    </a>
                </mat-nav-list>
            }
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar style="position: fixed; z-index: 2">
            <mat-toolbar-row>
                <button mat-icon-button [matTooltip]="'MENU' | translate" (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span style="flex: 1"></span>
                <button mat-button (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    {{ 'LOGOUT' | translate }}
                </button>
                <app-language-menu/>
            </mat-toolbar-row>
            <mat-toolbar-row *ngIf="portal" class="dense-toolbar">
                <app-container>
                    <ng-template [cdkPortalOutlet]="portal"></ng-template>
                </app-container>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-toolbar/>
        <mat-toolbar class="dense-toolbar"/>
        <router-outlet/>
        <mat-toolbar/>
    </mat-sidenav-content>
</mat-sidenav-container>