@if (boService.max768) {
    <div>
        <a
                mat-icon-button
                routerLink="/admin/users/create"
                [matTooltip]="'CREATE' | translate"
        >
            <mat-icon>add</mat-icon>
        </a>
        <a
                mat-icon-button
                [disabled]="disabled"
                routerLink="/admin/users/update"
                (click)="saveToLocalStorage()"
                [matTooltip]="'UPDATE' | translate"
        >
            <mat-icon>edit</mat-icon>
        </a>
        <button
                mat-icon-button
                [disabled]="disabled"
                (click)="onDeleteClick()"
                [matTooltip]="'DELETE' | translate"
        >
            <mat-icon>delete</mat-icon>
        </button>
        <button
                mat-icon-button
                [disabled]="disabled"
                (click)="onLockClick()"
                [matTooltip]="'LOCK' | translate"
        >
            <mat-icon>lock</mat-icon>
        </button>
        <button
                mat-icon-button
                [disabled]="disabled"
                (click)="onUnlockClick()"
                [matTooltip]="'UNLOCK' | translate"
        >
            <mat-icon>lock_open</mat-icon>
        </button>
        <a
                mat-icon-button
                [disabled]="disabled"
                routerLink="/admin/users/details"
                (click)="saveToLocalStorage()"
                [matTooltip]="'DETAILS' | translate"
        >
            <mat-icon>open_in_new</mat-icon>
        </a>
    </div>
} @else {
    <div>
        <a mat-button routerLink="/admin/users/create">
            <mat-icon>add</mat-icon>
            {{ 'CREATE' | translate }}
        </a>
        <a mat-button [disabled]="disabled" routerLink="/admin/users/update" (click)="saveToLocalStorage()">
            <mat-icon>edit</mat-icon>
            {{ 'UPDATE' | translate }}
        </a>
        <button mat-button [disabled]="disabled" (click)="onDeleteClick()">
            <mat-icon>delete</mat-icon>
            {{ 'DELETE' | translate }}
        </button>
        <button mat-button [disabled]="disabled" (click)="onLockClick()">
            <mat-icon>lock</mat-icon>
            {{ 'LOCK' | translate }}
        </button>
        <button mat-button [disabled]="disabled" (click)="onUnlockClick()">
            <mat-icon>lock_open</mat-icon>
            {{ 'UNLOCK' | translate }}
        </button>
        <a mat-button [disabled]="disabled" routerLink="/admin/users/details" (click)="saveToLocalStorage()">
            <mat-icon>open_in_new</mat-icon>
            {{ 'DETAILS' | translate }}
        </a>
    </div>
}