<app-simple-toolbar title="USER_DETAILS"/>
<mat-tab-group headerPosition="below" dynamicHeight>
    <mat-tab *ngFor="let user of users; trackBy: trackById" [label]="user.email + ' (' + user.firstName + ')'">
        <app-container>
            <span class="mat-headline-4">{{ user.firstName + ' ' + user.lastName }}</span>
            <mat-list>
                <mat-list-item>
                    <span matListItemTitle>
                        <span class="primary-span mat-body-2">{{ 'EMAIL' | translate }}: </span>
                        {{ user.email }}
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>
                        <span class="primary-span mat-body-2">{{ 'PHONE_NUMBER' | translate }}: </span>
                        {{ user.phoneNumber || '-' }}
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>
                        <span class="primary-span mat-body-2">{{ 'BIRTH_DATE' | translate }}: </span>
                        {{ user.birthDate || '-' }}
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <div matListItemTitle style="display: inline-flex; align-items: center">
                        <span class="primary-span mat-body-2">{{ 'ROLE' | translate }}: </span>
                        <span style="display: inline-flex; align-items: center">
                            <mat-icon style="margin-right: 0.25rem">{{ getRoleIcon(user.role) }}</mat-icon>
                            <span>{{ user.role | translate }}</span>
                        </span>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div matListItemTitle style="display: inline-flex; align-items: center">
                        <span class="primary-span mat-body-2">{{ 'LOCKED' | translate }}: </span>
                        <span style="display: inline-flex; align-items: center">
                            <mat-icon style="margin-right: 0.25rem">{{ user.locked ? 'lock' : 'lock_open' }}</mat-icon>
                            <span>{{ (user.locked ? 'YES' : 'NO') | translate }}</span>
                        </span>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>
                        <span class="primary-span mat-body-2">{{ 'CREATED_AT' | translate }}: </span>
                        {{ user.createdAt | date: 'dd.MM.yyyy hh:mm' }}
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>
                        <span class="primary-span mat-body-2">{{ 'UPDATED_AT' | translate }}: </span>
                        {{ user.updatedAt | date: 'dd.MM.yyyy hh:mm' }}
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>
                        <span class="primary-span mat-body-2">{{ 'CREATED_BY' | translate }}: </span>
                        {{ getCreatedBy(user) }}
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>
                        <span class="primary-span mat-body-2">{{ 'UPDATED_BY' | translate }}: </span>
                        {{ getUpdatedBy(user) }}
                    </span>
                </mat-list-item>
            </mat-list>
        </app-container>
    </mat-tab>
</mat-tab-group>