<app-simple-toolbar title="TOPICS"/>
<app-progress-bar [loading]="loading"/>
<app-container>
    <mat-tree #tree
              [dataSource]="topics"
              [childrenAccessor]="childrenAccessor"
    >
        <mat-tree-node *matTreeNodeDef="let topic"
                       matTreeNodePadding
        >
            <button mat-icon-button disabled></button>
            <app-tree-node [topic]="topic"/>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let topic; when: hasChild"
                       matTreeNodePadding
                       [cdkTreeNodeTypeaheadLabel]="topic.titleUz"
        >
            <button mat-icon-button matTreeNodeToggle
                    [attr.aria-label]="'Toggle ' + topic.titleUz">
                <mat-icon class="mat-icon-rtl-mirror">
                    {{tree.isExpanded(topic) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
            </button>
            <app-tree-node [topic]="topic"/>
        </mat-tree-node>
    </mat-tree>
    <button mat-button *ngIf="!loading" (click)="onCreateClick()">
        <mat-icon>add</mat-icon>
        {{ 'CREATE' | translate }}
    </button>
</app-container>