<h1>{{ 'REGISTRATION' | translate }}</h1>
<form [formGroup]="registrationForm" (ngSubmit)="submitRegistrationForm()">
    <mat-form-field>
        <mat-label>{{ 'FIRST_NAME' | translate }}</mat-label>
        <input matInput required type="text" formControlName="firstName" trim="blur" name="firstName"/>
        <mat-error *ngIf="firstNameError">{{ firstNameError }}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ 'LAST_NAME' | translate }}</mat-label>
        <input matInput required type="text" formControlName="lastName" trim="blur" name="lastName"/>
        <mat-error *ngIf="lastNameError">{{ lastNameError }}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ 'EMAIL' | translate }}</mat-label>
        <input matInput required type="text" formControlName="email" trim="blur" name="email"/>
        <mat-error *ngIf="emailError">{{ emailError }}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ 'PASSWORD' | translate }}</mat-label>
        <input matInput required [type]="hide() ? 'password' : 'text'" formControlName="password" trim="blur"/>
        <button mat-icon-button matSuffix (click)="clickEvent($event)" type="button">
            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordError">{{ passwordError }}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ 'PHONE_NUMBER' | translate }}</mat-label>
        <input matInput type="text" placeholder="+998 " prefix="+998 " mask="00 000 00 00"
               formControlName="phoneNumber" name="phoneNumber"/>
        <mat-error *ngIf="phoneNumberError">{{ phoneNumberError }}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ 'BIRTH_DATE' | translate }}</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="MM/dd/yyyy" formControlName="birthDate" name="birthDate">
        <mat-error *ngIf="birthDateError">{{ birthDateError }}</mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-flat-button
            class="form-button"
            [disabled]="loading"
    >
        <mat-icon>
            @if (loading) {
                <mat-progress-spinner mode="indeterminate" diameter="18"/>
            } @else {
                how_to_reg
            }
        </mat-icon>
        {{ 'REGISTER' | translate }}
    </button>
</form>
