<span class="title">{{ 'UPDATE_USER' | translate }}</span>
<span style="flex: 1"></span>
@if (boService.max768) {
    <div>
        <a
                mat-icon-button
                routerLink="/admin/users/create"
                [matTooltip]="'CREATE' | translate"
        >
            <mat-icon>add</mat-icon>
        </a>
        <a
                mat-icon-button
                routerLink="/admin/users/details"
                [matTooltip]="'DETAILS' | translate"
        >
            <mat-icon>open_in_new</mat-icon>
        </a>
    </div>
} @else {
    <div>
        <a mat-button routerLink="/admin/users/create">
            <mat-icon>add</mat-icon>
            {{ 'CREATE' | translate }}
        </a>
        <a mat-button routerLink="/admin/users/details">
            <mat-icon>open_in_new</mat-icon>
            {{ 'DETAILS' | translate }}
        </a>
    </div>
}