<app-simple-toolbar title="TASK_DETAILS">
    <app-task-details-actions/>
</app-simple-toolbar>
<mat-tab-group headerPosition="below" dynamicHeight (selectedIndexChange)="onIndexChange($event)">
    <mat-tab *ngFor="let task of tasks; trackBy: trackByTask" [label]="'ID: ' + task.id">
        <app-container>
            <app-task-preview-card
                    [id]="task.id"
                    [content]="getCardContent(task)"
                    [answers]="task.answers"
                    [lang]="lang"
                    [rowAnswers]="task.rowAnswers"
            />
            <mat-list>
                <mat-list-item>
                    <span matListItemTitle>
                        <span class="primary-span mat-body-2">{{ 'LEVEL' | translate }}: </span>
                        {{ task.level | translate }}
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>
                        <span class="primary-span mat-body-2">{{ 'TYPE' | translate }}: </span>
                        {{ task.type | translate }}
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>
                        <span class="primary-span mat-body-2">{{ 'TOPIC' | translate }}: </span>
                        {{ task.topic || '-' }}
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>
                        <span class="primary-span mat-body-2">{{ 'SOURCE' | translate }}: </span>
                        {{ task.source || '-' }}
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>
                        <span class="primary-span mat-body-2">{{ 'CREATED_AT' | translate }}: </span>
                        {{ task.createdAt | date: 'dd.MM.yyyy hh:mm' }}
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>
                        <span class="primary-span mat-body-2">{{ 'UPDATED_AT' | translate }}: </span>
                        {{ task.updatedAt | date: 'dd.MM.yyyy hh:mm' }}
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>
                        <span class="primary-span mat-body-2">{{ 'CREATED_BY' | translate }}: </span>
                        {{ getCreatedBy(task) }}
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>
                        <span class="primary-span mat-body-2">{{ 'UPDATED_BY' | translate }}: </span>
                        {{ getUpdatedBy(task) }}
                    </span>
                </mat-list-item>
            </mat-list>
        </app-container>
    </mat-tab>
</mat-tab-group>
