<app-container>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'OLD_PASSWORD' | translate }}</mat-label>
            <input matInput required [type]="oldHide() ? 'password' : 'text'" formControlName="oldPassword" trim="blur"/>
            <button mat-icon-button matSuffix (click)="clickOld($event)" type="button">
                <mat-icon>{{ oldHide() ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="oldPasswordError">{{ oldPasswordError }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>{{ 'NEW_PASSWORD' | translate }}</mat-label>
            <input matInput required [type]="newHide() ? 'password' : 'text'" formControlName="newPassword" trim="blur"/>
            <button mat-icon-button matSuffix (click)="clickNew($event)" type="button">
                <mat-icon>{{ newHide() ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="newPasswordError">{{ newPasswordError }}</mat-error>
        </mat-form-field>

        <button mat-flat-button
                [disabled]="loading()"
                class="form-button"
        >
            <mat-icon>
                @if (loading()) {
                    <app-button-progress-spinner/>
                } @else {
                    edit
                }
            </mat-icon>
            {{ 'UPDATE' | translate }}
        </button>
    </form>
</app-container>