<router-outlet/>
@if (emailType === "registration") {
    <a
            *ngIf="!isVerifyPage"
            mat-button
            style="position: absolute; bottom: 1rem; right: 1rem"
            [matTooltip]="email"
            routerLink="verify"
    >
        Verify Email
    </a>
} @else if (emailType === "recovery") {
    <a
            *ngIf="!isUpdatePasswordPage"
            mat-button
            style="position: absolute; bottom: 1rem; right: 1rem"
            [matTooltip]="email"
            routerLink="update-password"
    >
        Update Password
    </a>
}