app-search-input {
    width: 100%;
}

.task-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.5rem;
}

app-task-admin-card {
    width: 100%;
}

@media (min-width: 320px) {

}
@media (min-width: 375px) {

}
@media (min-width: 425px) {

}
@media (min-width: 768px) {
    app-search-input {
        width: 50%;
    }
}
@media (min-width: 1024px) {
    .task-container {
        column-gap: 0.5rem;
    }
    app-task-admin-card {
        width: calc(50% - 0.25rem);
    }
}
@media (min-width: 1440px) {

}
@media (min-width: 2560px) {

}