@if (max425) {
    <button mat-icon-button [matMenuTriggerFor]="lang">
        <mat-icon>language</mat-icon>
    </button>
} @else {
    <button mat-button [matMenuTriggerFor]="lang">
        <mat-icon>language</mat-icon>
        {{ 'LANGUAGE' | translate }}
    </button>
}
<mat-menu #lang=matMenu>
    <button mat-menu-item (click)="setLanguage('en')">🇺🇸 {{ 'ENGLISH' | translate }}</button>
    <button mat-menu-item (click)="setLanguage('ru')">🇷🇺 {{ 'RUSSIAN' | translate }}</button>
    <button mat-menu-item (click)="setLanguage('uz')">🇺🇿 {{ 'UZBEK' | translate }}</button>
</mat-menu>