<form [formGroup]="verifyForm" (ngSubmit)="submitVerifyForm()">
    <h2 [class]="titleClass">Verify</h2>
    <p class="mat-headline-6">{{ email }}</p>
    <mat-form-field>
        <mat-label>Verify code</mat-label>
        <input matInput required type="text" maxlength="4" formControlName="verifyCode"/>
        <mat-error *ngIf="codeError">{{ codeError }}</mat-error>
    </mat-form-field>
    <button mat-button
            style="margin-bottom: 1rem; min-width: 120px"
            type="button"
            class="form-button"
            (click)="submitResendCode()"
            [disabled]="resendLoading || verifyLoading"
    >
        @if (resendLoading) {
            <mat-progress-spinner mode="indeterminate" diameter="18"/>
        } @else {
            Resend code
        }
    </button>
    <button class="form-button"
            mat-flat-button
            type="submit"
            [disabled]="verifyLoading || resendLoading"
    >
        <mat-icon>
            @if (verifyLoading) {
                <mat-progress-spinner mode="indeterminate" diameter="18"/>
            } @else {
                pin
            }
        </mat-icon>
        Verify
    </button>
</form>