<mat-toolbar style="position: fixed">
    <span style="flex: 1"></span>
    <app-language-menu/>
    @if (!auth) {
        @if (max425) {
            <a mat-icon-button [matTooltip]="'LOGIN' | translate" routerLink="login">
                <mat-icon>login</mat-icon>
            </a>
        } @else {
            <a mat-button routerLink="login">
                <mat-icon>login</mat-icon>
                {{ 'LOGIN' | translate }}
            </a>
        }
        <app-google-button style="margin: 0 0.5rem"/>
    } @else {
        @if (role === Role.ADMIN) {
            @if (max425) {
                <a mat-icon-button [matTooltip]="'ADMIN' | translate" routerLink="/admin">
                    <mat-icon>shield</mat-icon>
                </a>
            } @else {
                <a mat-button routerLink="/admin">
                    <mat-icon>shield</mat-icon>
                    {{ 'ADMIN' | translate }}
                </a>
            }
        } @else {
            @if (max425) {
                <a mat-icon-button [matTooltip]="'PROFILE' | translate" routerLink="/profile">
                    <mat-icon>person</mat-icon>
                </a>
            } @else {
                <a mat-button routerLink="/profile">
                    <mat-icon>person</mat-icon>
                    {{ 'PROFILE' | translate }}
                </a>
            }
        }
        @if (max425) {
            <button mat-icon-button [matTooltip]="'LOGOUT' | translate" (click)="logout()">
                <mat-icon>logout</mat-icon>
            </button>
        } @else {
            <button mat-button (click)="logout()">
                <mat-icon>logout</mat-icon>
                {{ 'LOGOUT' | translate }}
            </button>
        }
    }
</mat-toolbar>
<section>
    <div class="app-name-container">
        <h1 [class]="titleClass" style="margin-bottom: 0">UNKNOWN</h1>
        <p [class]="subTitleClass" style="margin-bottom: 2rem">{{ 'OLP' | translate }}</p>
    </div>
</section>