@if (boService.max425) {
    <div>
        <a
                mat-icon-button
                routerLink="../create"
                [matTooltip]="'CREATE' | translate"
        >
            <mat-icon>add</mat-icon>
        </a>
        <a
                mat-icon-button
                routerLink="../update"
                [matTooltip]="'UPDATE' | translate"
        >
            <mat-icon>edit</mat-icon>
        </a>
    </div>
} @else {
    <div>
        <a
                mat-button
                routerLink="../create"
        >
            <mat-icon>add</mat-icon>
            {{ 'CREATE' | translate }}
        </a>
        <a
                mat-button
                routerLink="../update"
        >
            <mat-icon>edit</mat-icon>
            {{ 'UPDATE' | translate }}
        </a>
    </div>
}