<div class="container">
    <span>{{ title }}</span>
    <button mat-icon-button
            [matMenuTriggerFor]="menu"
    >
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onCreateClick()">
            <mat-icon>add</mat-icon>
            {{ 'CREATE_TOPIC' | translate }}
        </button>
        <button mat-menu-item (click)="onUpdateClick()">
            <mat-icon>edit</mat-icon>
            {{ 'UPDATE_TOPIC' | translate }}
        </button>
        <button mat-menu-item (click)="onDeleteClick()">
            <mat-icon>delete</mat-icon>
            {{ 'DELETE_TOPIC' | translate }}
        </button>
    </mat-menu>
</div>