<div class="container">
    <form [formGroup]="form()" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'TOPIC' | translate }}</mat-label>
            <input #topicInput
                   type="text"
                   aria-label="AdminTopic"
                   matInput
                   formControlName="topicId"
                   [matAutocomplete]="topic"
                   (input)="filterTopics()"
                   (focus)="filterTopics()">
            <mat-autocomplete requireSelection autoActiveFirstOption #topic="matAutocomplete"
                              [displayWith]="topicDisplayFn.bind(this)">
                @for (topic of filteredTopics(); track topic.id) {
                    <mat-option [value]="topic.id">
                        <span>{{ getTopicTitle(topic) }}</span>
                    </mat-option>
                }
            </mat-autocomplete>
            <button mat-icon-button matSuffix
                    *ngIf="!topicTreeLoading && !topicLoading"
                    (click)="onTreeClick($event)"
                    type="button">
                <mat-icon>account_tree</mat-icon>
            </button>
            <mat-progress-spinner matSuffix mode="indeterminate" diameter="20"
                                  style="margin-right: 0.5rem" *ngIf="topicTreeLoading || topicLoading"/>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{ 'SOURCE' | translate }}</mat-label>
            <input #sourceInput
                   type="text"
                   aria-label="AdminSource"
                   matInput
                   formControlName="sourceId"
                   [matAutocomplete]="source"
                   (input)="filterSources()"
                   (focus)="filterSources()">
            <mat-autocomplete requireSelection autoActiveFirstOption #source="matAutocomplete"
                              [displayWith]="sourceDisplayFn.bind(this)">
                @for (source of filteredSources(); track source.id) {
                    <mat-option [value]="source.id">
                        <span>{{ source.name }}</span>
                    </mat-option>
                }
            </mat-autocomplete>
            <button *ngIf="!sourceLoading"
                    [disabled]="disabled"
                    mat-icon-button matSuffix type="button" (click)="onAddSourceClick($event)">
                <mat-icon>add</mat-icon>
            </button>
            <mat-progress-spinner matSuffix mode="indeterminate" diameter="20"
                                  style="margin-right: 0.5rem" *ngIf="sourceLoading"/>
        </mat-form-field>

        <mat-divider style="width: 100%; margin: 0.5rem 0"/>
        <mat-radio-group aria-label="Select a level" formControlName="level">
            <p [ngStyle]="{color: submitted && levelError ? 'var(--mat-sys-error)' : ''}">{{ 'LEVEL' | translate }}
                *</p>
            <mat-radio-button value="EASY">{{ 'EASY' | translate }}</mat-radio-button>
            <mat-radio-button value="MEDIUM">{{ 'MEDIUM' | translate }}</mat-radio-button>
            <mat-radio-button value="HARD">{{ 'HARD' | translate }}</mat-radio-button>
            <mat-error class="mat-small">{{ submitted && levelError ? levelError : '' }}</mat-error>
        </mat-radio-group>

        <mat-divider style="width: 100%; margin: 0.5rem 0"/>
        <mat-radio-group aria-label="Select a type" formControlName="type">
            <p [ngStyle]="{color: submitted && levelError ? 'var(--mat-sys-error)' : ''}">{{ 'TYPE' | translate }}
                *</p>
            <mat-radio-button value="THEORETICAL">{{ 'THEORETICAL' | translate }}</mat-radio-button>
            <mat-radio-button value="PRACTICAL">{{ 'PRACTICAL' | translate }}</mat-radio-button>
            <mat-error class="mat-small">{{ submitted && typeError ? typeError : '' }}</mat-error>
        </mat-radio-group>

        <mat-divider style="width: 100%; margin: 0.5rem 0"/>
        <div class="lang-container">
            <div class="lang-item">
                <p class="mat-body-1">{{ 'UZBEK' | translate }}</p>
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'CONTENT' | translate }}</mat-label>
                    <textarea matInput rows="5" formControlName="contentUz" trim="blur" name="contentUz"></textarea>
                    <mat-error *ngIf="contentUzError">{{ contentUzError }}</mat-error>
                </mat-form-field>
                <p>{{ 'ANSWERS' | translate }}*</p>
                <div formArrayName="answers"
                     *ngFor="let answer of form().controls.answers.controls; let i = index"
                     style="width: 100%;">
                    <ng-container [formGroupName]="i">
                        <mat-form-field appearance="outline">
                            <input matInput formControlName="valueUz" trim="blur">
                            <button mat-icon-button matSuffix type="button" [disabled]="topicLoading"
                                    (click)="onCorrectClick($event, i)"
                                    [ngStyle]="{ color: answer.controls.correct.value ? 'var(--mat-sys-primary)' : submitted && correctError ? 'var(--mat-sys-error)' : '' }">
                                <mat-icon>{{ answer.controls.correct.value ? 'check_circle' : 'radio_button_unchecked' }}</mat-icon>
                            </button>
                            <mat-error *ngIf="getValueUzError(i)">{{ getValueUzError(i) }}</mat-error>
                        </mat-form-field>
                    </ng-container>
                </div>
            </div>

            <div class="lang-item">
                <p class="mat-body-1">{{ 'RUSSIAN' | translate }}</p>
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'CONTENT' | translate }}</mat-label>
                    <textarea matInput rows="5" formControlName="contentRu" trim="blur" name="contentRu"></textarea>
                    <mat-error *ngIf="contentRuError">{{ contentRuError }}</mat-error>
                </mat-form-field>
                <p>{{ 'ANSWERS' | translate }}*</p>
                <div formArrayName="answers"
                     *ngFor="let answer of form().controls.answers.controls; let i = index"
                     style="width: 100%;">
                    <ng-container [formGroupName]="i">
                        <mat-form-field appearance="outline">
                            <input matInput formControlName="valueRu" trim="blur">
                            <button mat-icon-button matSuffix type="button" [disabled]="topicLoading"
                                    (click)="onCorrectClick($event, i)"
                                    [ngStyle]="{ color: answer.controls.correct.value ? 'var(--mat-sys-primary)' : submitted && correctError ? 'var(--mat-sys-error)' : '' }">
                                <mat-icon>{{ answer.controls.correct.value ? 'check_circle' : 'radio_button_unchecked' }}</mat-icon>
                            </button>
                            <mat-error *ngIf="getValueRuError(i)">{{ getValueRuError(i) }}</mat-error>
                        </mat-form-field>
                    </ng-container>
                </div>
            </div>

            <p class="mat-small"
               [ngStyle]="{display: 'flex', alignItems: 'center', color: submitted && correctError ? 'var(--mat-sys-error)' : '' }">
                <mat-icon style="transform: scale(0.8)">info</mat-icon>
                <span>{{ 'ONE_CORRECT' | translate }}</span>
            </p>
        </div>
        <button mat-flat-button
                class="form-button"
                [disabled]="loading"
        >
            <mat-icon>
                @if (loading) {
                    <mat-progress-spinner mode="indeterminate" diameter="18"/>
                } @else {
                    {{icon()}}
                }
            </mat-icon>
            {{ action() | translate }}
        </button>
    </form>
    <div class="card-container">
        <div>
            <p class="mat-body-1">{{ 'UZBEK' | translate }}</p>
            <app-task-preview-card
                    [content]="form().controls['contentUz'].value"
                    [answers]="form().controls.answers.value"
                    lang="uz"
            />
        </div>
        <div>
            <p class="mat-body-1">{{ 'RUSSIAN' | translate }}</p>
            <app-task-preview-card
                    [content]="form().controls['contentRu'].value"
                    [answers]="form().controls.answers.value"
                    lang="ru"
            />
        </div>
    </div>
</div>