.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    padding-top: 0.5rem;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    width: 100%;
}

.lang-container-outer {
    width: 100%;
}

.lang-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 0.5rem;
    width: 100%;
}

.lang-item {
    width: 100%;
}

.answers-error {
    align-self: start;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.form-button {
    align-self: end;
}

mat-form-field {
    width: 100%;
}

mat-option span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (min-width: 320px) {

}
@media (min-width: 375px) {

}
@media (min-width: 425px) {

}
@media (min-width: 768px) {
    .lang-container {
        flex-direction: row;
        row-gap: 0;
        column-gap: 0.5rem;
    }
    .lang-item {
        width: calc(50% - 0.25rem);
    }
}
@media (min-width: 1024px) {
    .content-container {
        column-gap: 0.5rem;
    }
    .lang-container-outer {
        flex: 6;
    }
    .card-container {
        flex: 4;
    }
}
@media (min-width: 1236px) {
    .card-container {
        margin-left: 0.5rem;
    }
}
@media (min-width: 2560px) {

}