@if (boService.max425) {
    <div>
        <a
                mat-icon-button
                routerLink="../create"
                [matTooltip]="'CREATE' | translate"
        >
            <mat-icon>add</mat-icon>
        </a>
        <a
                mat-icon-button
                routerLink="../details"
                [matTooltip]="'DETAILS' | translate"
        >
            <mat-icon>open_in_new</mat-icon>
        </a>
        <button mat-icon-button
                [matTooltip]="'HANDBOOK' | translate"
                (click)="onHelpClick()"
        >
            <mat-icon>book</mat-icon>
        </button>
    </div>
} @else {
    <div>
        <a
                mat-button
                routerLink="../create"
        >
            <mat-icon>add</mat-icon>
            {{ 'CREATE' | translate }}
        </a>
        <a
                mat-button
                routerLink="../details"
        >
            <mat-icon>open_in_new</mat-icon>
            {{ 'DETAILS' | translate }}
        </a>
        <button mat-button (click)="onHelpClick()">
            <mat-icon>book</mat-icon>
            {{ 'HANDBOOK' | translate }}
        </button>
    </div>
}