.container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

app-subject-card, mat-card {
    width: 100%;
}

mat-card {
    min-height: 9rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 320px) {

}
@media (min-width: 375px) {

}
@media (min-width: 425px) {

}
@media (min-width: 768px) {
    app-subject-card, mat-card {
        width: calc(50% - 0.25rem);
    }
}
@media (min-width: 1024px) {
    app-subject-card, mat-card {
        width: calc(33% - 0.16rem);
    }
}
@media (min-width: 1440px) {

}
@media (min-width: 2560px) {

}