// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@font-face {
    font-family: 'cmunrm';
    src: url('assets/fonts/cmunrm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.mathjax-text {
    font-family: 'cmunrm', sans-serif;
    font-size: 16px;
}

.answers-list {
    @include mat.list-density(
                    mat.define-theme((
                            density: (
                                    scale: -2
                            )
                    ))
    )
}

html {
    @include mat.theme((
            color: (
                    theme-type: light,
                    primary: mat.$cyan-palette,
                    tertiary: mat.$orange-palette,
            ),
            typography: Roboto,
            density: 0,
    ));

    @include mat.all-component-typographies();
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
}

.mat-mdc-tab-group .mat-mdc-tab-header {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background: var(--mat-sys-surface);
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 9999px;
    background: var(--mat-sys-secondary);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    color: black!important;
}
.cdk-drag-placeholder {
    opacity: 0;
}
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.mat-tree-node {
    &.cdk-drag-preview {
        @include mat.elevation(12);
    }
    &.cdk-drag-placeholder {
        opacity: 0;
    }
}

.cdk-drop-list-dragging .mat-tree-node:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}

@media (prefers-color-scheme: dark) {
    html {
        @include mat.theme((
                color: (
                        theme-type: dark,
                        primary: mat.$cyan-palette,
                        tertiary: mat.$orange-palette,
                ),
                typography: Roboto,
                density: 0,
        ));
    }
}