<h2 mat-dialog-title>{{ 'SELECT_TOPIC' | translate }}</h2>
<mat-dialog-content>
    <mat-tree #tree [dataSource]="treeTopics" [childrenAccessor]="childrenAccessor">
        <mat-tree-node *matTreeNodeDef="let topic" matTreeNodePadding matRipple [matRippleTrigger]="span">
            <button mat-icon-button disabled></button>
            <span #span (click)="onTopicClick(topic.id)">{{ getTopicTitle(topic) }}</span>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let topic;when: hasChild" matTreeNodePadding matRipple [matRippleTrigger]="span">
            <button mat-icon-button matTreeNodeToggle>
                <mat-icon>
                    {{tree.isExpanded(topic) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
            </button>
            <span #span (click)="onTopicClick(topic.id)">{{ getTopicTitle(topic) }}</span>
        </mat-tree-node>
    </mat-tree>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button matDialogClose>{{ 'CANCEL' | translate }}</button>
</mat-dialog-actions>