<mat-card>
    <mat-card-header>
        <p><b>ID:</b></p>
    </mat-card-header>
    <mat-card-content>
        <p class="mathjax-text" [innerHTML]="content()"></p>
        <mat-list>
            <mat-list-item *ngFor="let answer of answers()">
                <mat-icon matListItemIcon
                          [ngStyle]="{color: answer.correct ? 'var(--mat-sys-primary)' : ''}">
                    {{ answer.correct ? 'check_circle' : 'radio_button_unchecked' }}
                </mat-icon>
                <i class="mathjax-text"
                   [innerHTML]="lang() === 'uz' ? answer.valueUz : answer.valueRu"></i>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
