form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-button {
    align-self: end;
}

@media (min-width: 320px) {
    form {
        width: 300px;
    }
}
@media (min-width: 375px) {
    form {
        width: 355px;
    }
}
@media (min-width: 425px) {

}
@media (min-width: 768px) {

}
@media (min-width: 1024px) {

}
@media (min-width: 1440px) {

}
@media (min-width: 2560px) {

}