<a [href]="facebookAuthUrl">
    <body id="fb-login" dir="ltr" class="plugin _4mr9 chrome webkit mac x2 Locale_en_US"
          style="width: 246px; height: 40px">
    <div class="_li">
        <div class="pluginSkinLight pluginFontHelvetica">
            <div class="pluginLoginButton pluginLoginButtonlarge _8_0g" id="u_0_0_SF" style="width: 300px;">
                <div>
                    <div class="_xvm _29o8" id="u_0_1_RP" style="position: relative">
                        <div class="_5h0c _5h0d" style="" role="button" tabindex="0">
                            <table class="uiGrid _51mz _5h0i _88va _5f0n" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr class="_51mx">
                                    <td class="_51m-">
                                        <div class="_5h0j">
                            <span class="_5h0k">
                              <img class="img" src="https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/_9VQFvOk7ZC.png" alt=""
                                   width="24" height="24"></span>
                                        </div>
                                    </td>
                                    <td class="_51m- _51mw">
                                        <div class="_5h0s">
                                            <div class="_5h0o _8kto">Continue with Facebook</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="_51mx">
                                    <td class="_51m-">
                                        <span class="_8jan"></span>
                                    </td>
                                    <td class="_51m-"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</a>
