._32qa button {
    opacity: .4
}

._59ov {
    height: 100%;
    height: 910px;
    position: relative;
    top: -10px;
    width: 100%
}

._5ti_ {
    background-size: cover;
    height: 100%;
    width: 100%
}

._5tj2 {
    height: 900px
}

._2mm3 ._5a8u .uiBoxGray {
    background: #fff;
    margin: 0;
    padding: 12px
}

._5h0c {
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    vertical-align: top
}

._5h0c._5h0d {
    border-radius: 4px;
    max-width: 400px;
    min-width: 240px
}

._29o8 {
    display: inline-block
}

._xvm ._5h0c._5h0d {
    min-width: initial
}

._5h0c._5h0f {
    border-radius: 3px;
    max-width: 320px;
    min-width: 200px
}

._xvm ._5h0c._5h0f {
    min-width: initial
}

._5h0c._5h0g {
    border-radius: 3px;
    max-width: 200px
}

._5h0c._5h0h {
    border-radius: 2px;
    margin: 10px 0;
    max-width: 268px
}

._5h0i {
    background-color: #4267b2;
    border-radius: 4px;
    color: #fff
}

._8_0g ._5h0d ._5h0i {
    border-radius: 20px
}

._5h0i._88va {
    background-color: #1877f2
}

._5h0g ._5h0i {
    border-radius: 3px;
    height: 20px;
    width: auto
}

._8_0g ._5h0g ._5h0i {
    border-radius: 10px
}

._5h0g ._5h0i td:first-child, ._5h0g ._xvp._5h0i td:last-child {
    width: 20px
}

._5h0f ._5h0i {
    border-radius: 3px;
    height: 28px
}

._8_0g ._5h0f ._5h0i {
    border-radius: 14px
}

._xvm ._5h0c._5h0f ._5h0i {
    max-width: 240px;
    min-width: initial;
    width: auto
}

._5h0f ._5h0i td:first-child, ._5h0f ._xvp._5h0i td:last-child {
    width: 28px
}

._xvm ._5h0c._5h0d ._5h0i {
    max-width: 272px;
    min-width: initial;
    width: auto
}

._5h0d ._5h0i {
    height: 40px
}

._5h0d ._5h0i td:first-child, ._5h0d ._xvp._5h0i td:last-child {
    width: 40px
}

._5h0h._5h0c ._5h0i {
    height: 40px;
    table-layout: auto;
    width: 268px
}

._5h0c ._5h0j {
    overflow: none;
    white-space: nowrap
}

._5h0c ._5h0k {
    float: left
}

._5h0h ._5h0k {
    height: 24px;
    margin-left: 8px
}

._5h0d td:last-child ._5h0k {
    margin-left: 0
}

._5h0d ._5h0k {
    height: 24px;
    margin: 8px
}

._5h0f ._5h0k {
    height: 16px;
    margin: 6px
}

._5h0g ._5h0k {
    height: 12px;
    margin: 4px
}

._5h0d ._88va td:last-child ._5h0k {
    margin-left: 0
}

._5h0d ._88va ._5h0k {
    margin: 8px 8px 8px 12px
}

._5h0f ._88va ._5h0k {
    margin: 6px 6px 6px 8px
}

._5h0g ._88va ._5h0k {
    margin: 4px 4px 4px 8px
}

._5h0o {
    border: none;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: .25px;
    overflow: hidden;
    text-align: center;
    text-overflow: clip;
    white-space: nowrap
}

._5h0g ._5h0o {
    font-size: 11px;
    max-width: 150px;
    padding: 0 8px 0 2px
}

._5h0g ._8kto {
    font-weight: bold;
    padding-top: 2px
}

._5h0f ._5h0o {
    font-size: 13px;
    margin-right: 8px
}

._5h0f ._8kto {
    font-size: 13px;
    font-weight: bold;
    margin-right: 8px
}

._xvm ._5h0f ._5h0q ._5h0o {
    margin: 0 12px 0 6px;
    max-width: 166px
}

._xvm ._5h0f ._8jam ._5h0o {
    margin-right: 12px;
    max-width: 166px
}

._5h0d ._5h0o {
    font-size: 16px;
    margin-right: 12px
}

._5h0d ._8kto {
    font-weight: bold;
    padding-top: 1px
}

._xvm ._5h0d ._5h0o {
    margin: 0 24px 0 12px
}

._xvm ._5h0d ._88va ._5h0o {
    margin-left: 0;
    margin-right: 12px
}

._xvm ._5h0d ._5h0q ._5h0o {
    margin: 0 12px 0 4px;
    max-width: 176px
}

._xvm ._5h0d ._8jam ._5h0o {
    margin-right: 12px;
    max-width: 176px
}

._5h0h ._5h0o {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 16px;
    padding: 0 22px;
    white-space: normal
}

._5h0h ._5h0o._4lqf {
    font-size: 12px;
    line-height: 14px
}

._5h0h ._5h0s {
    max-width: 100%
}

._5h0t {
    float: right;
    vertical-align: top
}

._5h0c._5h0g ._5h0t {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    height: 20px;
    width: 20px
}

._8_0g ._5h0c._5h0g ._5h0t {
    border-radius: 50%;
    height: 16px;
    margin-right: 1px;
    width: 16px
}

._5h0c._5h0f ._5h0t {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    height: 28px;
    width: 28px
}

._8_0g ._5h0c._5h0f ._5h0t {
    border-radius: 50%;
    height: 24px;
    margin-right: 2px;
    width: 24px
}

._xvm ._5h0c._5h0d td:first-child ._5h0t {
    margin-right: 8px
}

._5h0c._5h0d td:first-child ._5h0t {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 0
}

._5h0c._5h0d ._5h0t {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    height: 40px;
    width: 40px
}

._8_0g ._5h0c._5h0d ._5h0t {
    border-radius: 50%;
    height: 34px;
    margin-right: 3px;
    width: 34px
}

._5h0c._5h0h ._5h0t {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    height: 40px;
    width: 40px
}

._8_0g ._5h0c._5h0h ._5h0t {
    border-radius: 50%;
    height: 34px;
    margin-right: 3px;
    width: 34px
}

._5h0c._5h0g ._88va ._5h0t {
    height: 20px;
    width: 20px
}

._8_0g ._5h0c._5h0f ._88va ._5h0t {
    height: 16px;
    width: 16px
}

._5h0c._5h0f ._88va ._5h0t {
    height: 28px;
    width: 28px
}

._8_0g ._5h0c._5h0f ._88va ._5h0t {
    height: 24px;
    width: 24px
}

._5h0c._5h0d ._88va ._5h0t {
    height: 40px;
    width: 40px
}

._8_0g ._5h0c._5h0d ._88va ._5h0t {
    height: 34px;
    width: 34px
}

._5h0c._5h0h ._88va ._5h0t {
    height: 40px;
    width: 40px
}

._8_0g ._5h0c._5h0h ._88va ._5h0t {
    height: 34px;
    width: 34px
}

._8jan {
    background-color: rgba(9, 30, 66);
    border-radius: inherit;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%
}

._8jan:active {
    opacity: .3
}

#fb-login.plugin {
    background: transparent;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.28;
    overflow: hidden;
    -webkit-text-size-adjust: none
}

.plugin, .plugin button, .plugin input, .plugin label, .plugin select, .plugin td, .plugin textarea {
    font-size: 11px
}

html {
    touch-action: manipulation
}

#fb-login {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed
}

#fb-login, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px
}

h1, h2, h3, h4, h5, h6 {
    color: #1c1e21;
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    padding: 0
}

h1 {
    font-size: 14px
}

h4, h5, h6 {
    font-size: 12px
}

p {
    margin: 1em 0
}

b, strong {
    font-weight: 600
}

a {
    color: #385898;
    cursor: pointer;
    text-decoration: none
}

button {
    margin: 0
}

a:hover {
    text-decoration: underline
}

img {
    border: 0
}

td, td.label {
    text-align: left
}

dd {
    color: #000
}

dt {
    color: #606770
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

abbr {
    border-bottom: none;
    text-decoration: none
}

hr {
    background: #dadde1;
    border-width: 0;
    color: #dadde1;
    height: 1px
}

.clearfix:after {
    clear: both;
    content: '.';
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden
}

.clearfix {
    zoom: 1
}

.datawrap {
    word-wrap: break-word
}

.word_break {
    display: inline-block
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.aero {
    opacity: .5
}

.column {
    float: left
}

.center {
    margin-left: auto;
    margin-right: auto
}

#facebook .hidden_elem {
    display: none !important
}

#facebook .invisible_elem {
    visibility: hidden
}

#facebook .accessible_elem {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px
}

#facebook .accessible_elem_offset {
    margin: -1px
}

.direction_ltr {
    direction: ltr
}

.direction_rtl {
    direction: rtl
}

.text_align_ltr {
    text-align: left
}

.text_align_rtl {
    text-align: right
}

._51mz {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0
}

._5f0n {
    table-layout: fixed;
    width: 100%
}

.uiGrid .vTop {
    vertical-align: top
}

.uiGrid .vMid {
    vertical-align: middle
}

.uiGrid .vBot {
    vertical-align: bottom
}

.uiGrid .hLeft {
    text-align: left
}

.uiGrid .hCent {
    text-align: center
}

.uiGrid .hRght {
    text-align: right
}

._51mx:first-child > ._51m- {
    padding-top: 0
}

._51mx:last-child > ._51m- {
    padding-bottom: 0
}

._51mz ._51mw {
    padding-right: 0
}

._51mz ._51m-:first-child {
    padding-left: 0
}

._51mz._4r9u {
    border-radius: 50%;
    overflow: hidden
}

._4mr9 {
    -webkit-touch-callout: none;
    -webkit-user-select: none
}

._li._li._li {
    overflow: initial
}

._aj3e, ._aj3e video {
    display: block;
    height: 4px;
    left: 0;
    position: absolute;
    top: 0;
    width: 2px;
    z-index: -1
}

._aowd._li._li._li {
    overflow: hidden
}

._9053 ._li._li._li {
    overflow-x: hidden
}

._72b0 {
    position: relative;
    z-index: 0
}

.registration ._li._9bpz {
    background-color: #f0f2f5
}

._li ._9bp- {
    padding-top: 5px;
    text-align: center
}

._li ._9bp- .fb_logo {
    height: 100px
}

._li ._a66f {
    padding-top: 5px;
    text-align: center
}

._li ._a66f .fb_logo {
    height: 80px;
    padding-top: 72px
}

.uiLayer {
    outline: none
}

._4qba {
    font-style: inherit
}

._4qbb, ._4qbc, ._4qbd {
    background: none;
    font-style: inherit;
    padding: 0;
    width: auto
}

._4qbd {
    border-bottom: 1px solid #f99
}

._4qbb, ._4qbc {
    border-bottom: 1px solid #999
}

._4qbb:hover, ._4qbc:hover, ._4qbd:hover {
    background-color: #fcc;
    border-top: 1px solid #ccc;
    cursor: help
}
