<div class="container">
    <h1>{{ 'LOGIN' | translate }}</h1>
    <app-google-button [disabled]="loading() || pageLoading()"/>
    <p style="margin: 1rem 0">{{ 'USE_YOUR_EMAIL' | translate }}</p>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field>
            <mat-label>{{ 'EMAIL' | translate }}</mat-label>
            <input matInput required type="text" formControlName="email" trim="blur" name="email"/>
            <mat-error *ngIf="emailError">{{ emailError }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'PASSWORD' | translate }}</mat-label>
            <input matInput required [type]="hide() ? 'password' : 'text'" formControlName="password" trim="blur"/>
            <button mat-icon-button matSuffix (click)="clickEvent($event)" type="button">
                <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="passwordError">{{ passwordError }}</mat-error>
        </mat-form-field>

        <a mat-button
           class="form-button mat-caption"
           [disabled]="loading()"
           routerLink="/account-recovery"
        >
            {{ 'DONT_NOW_THE_PASSWORD' | translate }}
        </a>
        <a mat-button
           class="form-button mat-caption"
           [disabled]="loading()"
           routerLink="/registration"
        >
            {{ 'DONT_HAVE_ACCOUNT' | translate }}
        </a>
        <button mat-flat-button
                class="submit-button"
                [disabled]="loading() || pageLoading()"
        >
            <mat-icon>
                @if (loading()) {
                    <app-button-progress-spinner/>
                } @else {
                    login
                }
            </mat-icon>
            {{ 'LOGIN' | translate }}
        </button>
    </form>
</div>